body {
		background: url(https://funart.pro/uploads/posts/2020-04/1586350225_18-p-foni-s-lipetskom-46.jpg); /* Фоновый цвет и фоновый рисунок*/
		background-attachment: fixed; /* Фон страницы фиксируется */
		background-size: 100%;
	}